<div class="loading">
    <div class="sharingon">
        <div class="ring">
            <div class="to"></div>
            <div class="to"></div>
            <div class="to"></div>
            <div class="circle"></div>
        </div>
    </div>
</div>

<style>
    .loading {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        zoom: 3.0;
        background-color: #f5f5fa;
    }
	
    .animated-stop {
        animation-play-state: paused !important;
    }
	
    .scaleAndFadeout {
        animation: scaleAndFadeOut 1.5s forwards;
    }
	
    /** 放大1.5倍，并渐变到透明 */
    @keyframes scaleAndFadeOut {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }

    /* From Uiverse.io by shadowfax29 */
    .sharingon {
        position: relative;
        width: 6em;
        height: 6em;
        background-color: red;
        border: 6px solid black;
        animation: rot 1s ease-in-out infinite;
    }

    .ring {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        width: 3.5em;
        height: 3.5em;
        border: 4px solid rgb(110, 13 ,13 ,0.5);
        transform: translate(-50%,-50%);
    }

    .sharingon, .ring, .to,.circle {
        border-radius: 50%;
    }

    .to,.circle {
        position: absolute;
        content: "";
        width: 0.9em;
        height: 0.9em;
        background-color: black;
    }

    .to:nth-child(1) {
        top: -0.5em;
        left: 50%;
        transform: translate(-40%);
    }

    .to::before {
        content: "";
        position: absolute;
        top: -0.5em;
        right: -0.2em;
        width: 1.1em;
        height: 0.9em;
        box-sizing: border-box;
        border-left: 16px solid black;
        border-radius: 100% 0 0;
    }

    .to:nth-child(2) {
        bottom: 0.5em;
        left: -0.35em;
        transform: rotate(-120deg);
    }

    .to:nth-child(3) {
        bottom: 0.5em;
        right: -0.35em;
        transform: rotate(120deg);
    }

    .circle {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 20px 1px;
        width: 1em;
        height: 1em;
    }

    @keyframes rot {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script>	
    function initLoading() {
        let loading = document.querySelector(".loading");
        document.addEventListener('DOMContentLoaded', function() {
            // 本地页面加载速度快，可自行使用setTimeout()来进行延迟，体验加载动画效果
            // 执行加载完成动画
            loadFinish();
            // 延迟1.5s，待加载完成动画执行结束
            setTimeout(() => {
                loading.style.display = "none";
            }, 1500)
        });
    }
	
    function loadFinish() {
        // 暂停动画
        let sharingon= document.querySelector(".sharingon");
        sharingon.classList.add("animated-stop")
        // 放大并渐变到透明
        let loading = document.querySelector(".loading");
        loading.classList.add("scaleAndFadeout")
    }
	
    initLoading();
</script>
